.deleteFormSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.DeleteForm{
    width: 500px;
    background-color: #fff;
    position: absolute;
    top: 260px;
    left: 454px;
    padding: 17px 20px 35px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    z-index: 99;
}
.btn.delete{
    background-color: red;
    padding: 10px 18px;
}
.paragraph{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.deleteHeading{
    text-align: center;
    font-size: x-large;
}